{% extends 'base.html' %}

{% block title %}Home page{% endblock %}
     
{% block content %}
    <h1>Página inicial</h1>
    {% if numero is None %}
        <p style="color: orange;">&nbsp;Nenhum número foi fornecido na URL.</p>
    {% elif numero < 0 %}
        <p style="color: red;">&nbsp;{{ numero }} é negativo</p>
    {% elif numero == 0 %}
        <p style="color: grey;">&nbsp;Zero!</p>
    {% else %}
        <p style="color: darkgreen;">&nbsp;{{ numero }} é positivo</p>
    {% endif %}
{% endblock %}
